<header>
    <div class="row">
        <div class="col-md-6">
            <div class="header-left">
                <button (click)="showHideMenu()"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="header-right">
                <span>{{ 'header.hello' | translate }}, </span>
                <a [routerLink]="[ '' ]" class="user">{{ user.name }}</a>
                <button (click)="logout()" class="btn-logout">{{ 'header.logout' | translate }}</button>
            </div>
        </div>
    </div>
</header>