<div class="wrap-routing">
    <section class="search">
        <input type="text" [placeholder]=" 'search.name' | translate">
        <input type="text" [placeholder]=" 'search.department' | translate">
        <input type="text" [placeholder]=" 'search.project' | translate">
        <input type="text" [placeholder]=" 'search.skill' | translate">
        <button class="btn-search">{{ 'search.buttonSubmit' | translate }}</button>
    </section>
    <section class="list">
        
    </section>
</div>
