/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.min.css'; 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import '../src/assets/css/main.css';

*, body {
    font-size: 15px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration:none;
}

button:focus {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}
table {
    width: 100%;
    display: block;
    overflow: scroll;
    white-space: nowrap;
}

input:focus {
    outline: none;
}

.dropdown-btn:focus {
    outline: none;
}

